.git
.gitignore
.env
.env.*
!.env.example
node_modules
vendor
public/build
storage/app/public/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/views/*
storage/logs/*
bootstrap/cache/*
deploy/lws
tests
*.sql
*.md
.vscode
.idea
